<template xmlns:svg="http://www.w3.org/1999/html">
    <span>
        <button class="btn btn-outline-primary btn-sm mx-0" @click="show()">
            <font-awesome-icon :icon="['far', 'chart-line']"></font-awesome-icon>
            {{ data.label }}
        </button>

        <modal :name="`modal-${id}`" classes="modal fade show" role="dialog" @opened="init" adaptive scrollable height="auto">
            <div class="modal-content mt-0">
                <div class="modal-header">
                    <h4 class="modal-title w-100">{{ data.title }}</h4>
                    <button type="button" class="close" aria-label="Close" @click="hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="primary.data">
                    <div :id="id" class="chart-container">
                        <small class="text-black-50 d-block text-right">*Click & drag to zoom, double click to reset.</small>
                        <svg class="gf-linechart" :viewBox="`0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`"
                             preserveAspectRatio="xMinYMin meet">
                            <defs>
                                <clipPath id="gf-clip">
                                    <rect x="0" y="0" :width="width" :height="height"></rect>
                                </clipPath>
                            </defs>
                            <g :transform="`translate(${margin.left}, ${margin.top})`">
                                <!-- Axes -->
                                <g class="gf-axis">
                                    <g class="x-axis" :transform="`translate(0, ${height})`"></g>
                                    <g class="y-axis"></g>
                                    <g class="y-axis-secondary" :transform="`translate(${width}, 0 )`"></g>
                                </g>

                                <!-- Data plots -->
                                <g class="gf-plots" clip-path="url(#gf-clip)">
                                    <g class="gf-primary" v-if="primary.data">
                                        <path class="gf-line color-default" :d="primaryPath" vector-effect="non-scaling-stroke"></path>
                                        <path class="gf-line-gaps color-default" :d="primaryPathGaps" vector-effect="non-scaling-stroke"></path>
                                    </g>
                                    <path class="gf-secondary" v-if="secondary.data" :d="secondaryPath" vector-effect="non-scaling-stroke"></path>
                                </g>

                                <!-- Event plots -->
                                <g v-if="tertiary.data" class="gf-event-lines">
                                    <line v-for="item in tertiary.data" vector-effect="non-scaling-stroke"
                                          :x1="scaleX(item.x)" :x2="scaleX(item.x)"
                                          y1="0" :y2="height"></line>
                                </g>

                                <!-- Grids -->
                                <g>
                                    <g class="gf-x-grid grid" :transform="`translate(0, ${height})`"></g>
                                    <g class="gf-y-grid grid"></g>
                                </g>


                                <!-- Tooltip -->
                                <line class="gf-mouse-line" y1="0" :y2="height"></line>
                                <g class="gf-brush gf-mouse-overlay"></g>

                            </g>
                        </svg>
                        <div class="gf-tooltip">
                            <ul>
                                <li v-for="item in tooltip" :key="item.id">
                                    <font-awesome-icon v-if="item.color" :class="'color-' + item.color" :icon="['fas', 'square' ]"></font-awesome-icon>
                                    {{ item.label }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="legend">
                        <li v-for="item in legend" :key="item.id">
                            <button type="button" class="btn btn-link p-0 mt-0" @click="item.tertiary ? loadEvents(item)  : loadChart(item)">
                                <font-awesome-icon :class="'color-' + item.color" :icon="['fas', item.selected ? 'check-square' : 'square' ]"></font-awesome-icon>
                                {{ item.label }}
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="modal-body" v-if="!primary.data">
                    Chart data could not be loaded duo to an error.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" @click="hide">Close</button>
                </div>
            </div>
        </modal>
    </span>
</template>

<script>
import * as d3 from "d3";
import axios from 'axios';

/**
 * This function prints graphs related to a single apiary Hive weight and weather sensors.
 * TODO:
 *   - Clearly separate styling and structure from JS code
 *   - Implement computing functions and call them within template instead of doing manual function calls.
 *   - Try to generalise functions and D3 calls for Primary/Secondary chart calls.
 *   - Move most styling to global stylesheet for re-usage.
 *   - Make the code independent to data date range aggregation (daily, weekly, etc.).
 *   - Organize styling
 *   - Lower opacity of non hovering charts.
 */
export default {
    name: "HiveWeightComponent",
    props: {
        data: {
            /**
             * @param component     string The name of the component
             * @param descriptor_id int    The Id of primary descriptor
             * @param external_id   int    The Id of apiary
             * @param label         string The label displayed at the button.
             * @param title         string The label displayed at the top of the chart.
             * @param secondary     array  A list of additional descriptors to display the graphs for.
             */
            type: Object,
            required: true
        },
    },
    data() {
        return {
            height: 200,
            width: 550,
            id: 'hive-weight-chart',
            requestId: 'hive-weight-chart-component-request',
            primary: {
                data: [],
                descriptor: null,
                unit: null,
                type: null,
                domains: {
                    x: [null, null],
                    y: [null, null],
                },
                scaleY: {},
            },
            secondary: {
                data: [],
                label: null,
                type: null,
                unit: null,
                color: null,
                domains: {
                    x: [null, null],
                    y: [null, null],
                },
                scaleY: {},
            },
            tertiary: {
                data: [],
                unit: null,
                color: null,
                scale: null,
            },
            margin: { top: 20, right: 50, bottom: 50, left: 50 },
            scaleX: null,
            bisectDate: null,
            legend: [],
            tooltip: [],
            brush: null,
            zoomIdleTimeout: null,
        };
    },
    created() {
        this.CancelToken = axios.CancelToken;
        this.source = this.CancelToken.source();
    },
    mounted() {
        this.id += this._uid;

        // List Legend
        this.legend = [{
            label: 'Hive Scales Weight',
            selected: true,
            id: this.data.descriptor_id,
            color: 'default',
        }];
        if ( this.data.secondary.length ) {
            for ( let index in this.data.secondary ) {
                this.legend.push( {
                    label: this.data.secondary[ index ].label,
                    selected: false,
                    id: this.data.secondary[ index ].id,
                    color: this.data.secondary[ index ].color,
                    tertiary: this.data.secondary[ index ].tertiary,
                } );
            }
        }

        // Init scales
        this.scaleX = d3.scaleTime().range( this.rangeX );
        this.primary.scaleY = d3.scaleLinear().range( this.rangeY ).nice();
        this.secondary.scaleY = d3.scaleLinear().range( this.rangeY ).nice();

        // Initi Zoom Burhs
        this.brush = d3.brushX().extent( [[0, 0], [this.width, this.height]] ).on( 'end', this.applyZoomLevel );

        // Preload Primary Data
        axios.get( 'api/v1/charts?descriptor_id=' + this.data.descriptor_id + '&object_id=' + this.data.object_id, {
            requestId: this.requestId,
            cancelToken: this.source.token
        } ).then( ( res ) => {
            this.primary.descriptor = res.data.descriptor;
            this.primary.unit = res.data.unit;
            this.primary.type = res.data.type;
            this.primary.domains = {
                x: [
                    this.getDate( res.data.domains.x[ 0 ] ),
                    this.getDate( res.data.domains.x[ 1 ] ),
                ],
                y: [
                    parseFloat( res.data.domains.y[ 0 ] ),
                    parseFloat( res.data.domains.y[ 1 ] ),
                ],
            };
            this.scaleX.domain( this.scaleXDomain );
            this.primary.scaleY.domain( this.primary.domains.y );

            this.primary.data = [];
            for ( let item in res.data.data ) {
                this.primary.data.push( this.getDataValue( item, res.data.data[ item ], this.primary.type ) );
            }
        } ).catch( ( thrown ) => {
            if ( !axios.isCancel( thrown ) ) {
                console.log( 'some other reason' );
                console.log( thrown );
            }
        } );

    },
    beforeDestroy() {
        this.source.cancel();
    },
    methods: {
        show() {
            this.$modal.show( 'modal-' + this.id, {
                title: this.data.label + ' - ' + this.primary.descriptor.name,
            } );
        },
        hide() {
            this.$modal.hide( 'modal-' + this.id );
        },
        /**
         * Runs when a modal is opened.
         * Any referenced DOM object can only be used after this function is called, because the DOM does not exist before.
         */
        init() {
            // Render the axis with ticks and labels.
            d3.select( `#${ this.id } .x-axis` )
                .call( d3.axisBottom( this.scaleX ).ticks( 10 ) );
            d3.select( `#${ this.id } .y-axis` )
                .call( d3.axisLeft( this.primary.scaleY )
                    .ticks( 10 )
                    .tickFormat( d => d3.format( '.0f' )( d ) + ( ( this.primary.unit ) ? ' ' + this.primary.unit : '' ) ) );

            // Separate Axis used to render less common ticks over the whole chart.
            d3.select( `#${ this.id } .gf-y-grid` )
                .call( d3.axisLeft( this.primary.scaleY )
                    .ticks( 5 )
                    .tickSize( -( this.width ) )
                    .tickFormat( "" ) );

            // Init zoom
            d3.select( `#${ this.id } .gf-brush` ).call( this.brush );

            // Init Tooltips
            this.bisectDate = d3.bisector( d => d.x ).left;
            const tooltip = d3.select( `#${ this.id } .gf-tooltip` );
            const line = d3.select( `#${ this.id } .gf-mouse-line` );
            d3.select( `#${ this.id } .gf-mouse-overlay` )
                .on( "mouseover", function () {
                    tooltip.style( "opacity", 1 );
                    line.style( "opacity", 1 );
                } )
                .on( "mouseout", function () {
                    tooltip.style( "opacity", 0 );
                    line.style( "opacity", 0 );
                } )
                .on( "mousemove", this.tooltipOnMouseMove );


        },
        renderSecondaryAxes() {
            var that = this;
            d3.select( `#${ this.id } .y-axis-secondary` )
                .call( d3.axisRight( this.secondary.scaleY )
                    .ticks( 10 )
                    .tickFormat( function ( d ) {
                        var p = d3.format( '.0f' )( d );
                        return p + ( ( that.secondary.unit ) ? ' ' + that.secondary.unit : '' );
                    } ) );


        },
        renderSecondaryLine() {
            var elem = d3.select( `#${ this.id } .gf-secondary` )
                .data( [this.secondary.data] )
                .attr( "d", this.area( this.secondary.scaleY, true ) );
            if ( this.secondary.type === 'area' ) {
                elem.attr( "class", "gf-secondary no-fill color-" + this.secondary.color );
            } else {
                elem.attr( "class", "gf-secondary color-" + this.secondary.color );
            }
        },
        line( y, withGaps = false ) {
            const x = this.scaleX;
            var line = d3.line()
                .x( d => x( d.x ) )
                .y( d => y( d.y ) );

            if ( !withGaps ) {
                line.defined( d => !isNaN( d.y ) );
            }

            return line;
        },
        area( y, withGaps = false ) {
            const x = this.scaleX;
            var area = d3.area()
                .x( d => x( d.x ) )
                .y0( d => y( d.y0 ) )
                .y1( d => y( d.y1 ) );

            if ( !withGaps ) {
                area.defined( d => !isNaN( d.y0 ) && !isNaN( d.y1 ) );
            }

            return area;
        },
        tooltipOnMouseMove( event ) {
            const x0 = this.scaleX.invert( d3.pointer( event )[ 0 ] );
            const i = this.bisectDate( this.primary.data, x0, 1 );
            const d = this.primary.data[ i ];

            /**
             * Generating Tooltip content.
             * Primary chart.
             */
            this.tooltip = [
                {
                    label: "Date: " + this.getFormattedDate( x0 ),
                    color: null,
                },
                {
                    label: this.getFormattedValue( d.y, this.primary.unit ),
                    color: 'default',
                }
            ];

            /**
             * Secondary chart. Can be either area or line chart.
             */
            if ( this.secondary.data.length ) {
                const is = this.bisectDate( this.secondary.data, x0, 1 );
                let string;
                if ( this.secondary.type === 'area' ) {
                    string = this.getFormattedValue( this.secondary.data[ is ].y0, this.secondary.unit ) + '/' + this.getFormattedValue( this.secondary.data[ is ].y1, this.secondary.unit );
                } else {
                    string = this.getFormattedValue( this.secondary.data[ is ].y, this.secondary.unit );
                }

                this.tooltip.push( {
                    label: string,
                    color: this.secondary.color,
                } );
            }

            /**
             * Tertiary chart. Can have multiple data points per X unit.
             */
            if ( this.tertiary.data.length ) {
                const it = this.bisectDate( this.tertiary.data, x0, 1 );

                if ( it in this.tertiary.data ) {
                    for ( let singleEvent in this.tertiary.data[ it ][ 'data' ] ) {
                        let string = this.tertiary.data[ it ][ 'data' ][ singleEvent ][ 0 ];
                        if ( this.tertiary.data[ it ][ 'data' ][ singleEvent ][ 1 ] ) {
                            string += " (" + this.getFormattedValue( this.tertiary.data[ it ][ 'data' ][ singleEvent ][ 1 ], this.tertiary.data[ it ][ 'data' ][ singleEvent ][ 2 ] ) + ")";
                        }

                        this.tooltip.push( {
                            label: string,
                            color: this.tertiary.color,
                        } );
                    }
                }
            }

            /**
             * Tooltip positioning
             */
            if ( d3.pointer( event )[ 0 ] < ( this.width / 2 ) ) {
                d3.select( `#${ this.id } .gf-tooltip` )
                    .style( "left", ( event.layerX + 20 ) + "px" ).style( "right", "auto" )
                    .style( "top", ( event.layerY - 10 ) + "px" );
            } else {
                d3.select( `#${ this.id } .gf-tooltip` )
                    .style( "right", ( this.width - ( event.layerX - 40 ) ) + "px" ).style( "left", "auto" )
                    .style( "top", ( event.layerY - 10 ) + "px" );
            }

            /**
             * Vertical line positioning
             */
            d3.select( `#${ this.id } .gf-mouse-line` )
                .attr( 'x1', d3.pointer( event )[ 0 ] )
                .attr( 'x2', d3.pointer( event )[ 0 ] );
        },
        /**
         * Transform string to Date object.
         * We expect a string format 'Year-month-day'.
         *
         * @param string
         * @returns {Date}
         */
        getDate( string ) {
            let split = string.split( '-' );
            return new Date( parseInt( split[ 0 ] ), parseInt( split[ 1 ] ) - 1, parseInt( split[ 2 ] ) )
        },

        /**
         * Formats a given date to day. month. year.
         * @todo: Internationalize
         *
         * @param {Date} date
         * @returns {string}
         */
        getFormattedDate( date ) {
            return date.getDate() + '. ' + ( date.getMonth() + 1 ) + '. ' + date.getFullYear()
        },

        /**
         * Formats a value with optional unit. Checks for NaN.
         * @todo Internationalize
         *
         * @param {float} value
         * @param {string} unit
         * @returns {string}
         */
        getFormattedValue( value, unit ) {
            let val = parseFloat( value );
            if ( isNaN( val ) ) {
                return 'No Value';
            }

            return val + ' ' + unit;
        },
        /**
         * Parses the value to display on the chart. A required step to transform values into javascript datatypes.
         *
         * @param {int} index
         * @param {array|float} values
         * @returns {array} x, y value pairs, depending on the chart type, it can have 1, 2 or even more y values.
         */
        getDataValue( index, values, type ) {
            if ( type === 'line' ) {
                return {
                    x: this.getDate( index ),
                    y: parseFloat( values ),
                };
            } else if ( type === 'area' ) {
                return {
                    x: this.getDate( index ),
                    y0: values ? parseFloat( values[ 0 ] ) : NaN,
                    y1: values ? parseFloat( values[ 1 ] ) : NaN,
                };
            } else if ( type === 'complex' ) {
                return {
                    x: this.getDate( index ),
                    y: values ? parseFloat( values[ 1 ] ) : NaN,
                    y0: values ? parseFloat( values[ 0 ] ) : NaN,
                    y1: values ? parseFloat( values[ 2 ] ) : NaN,
                };
            }
        },

        loadChart( currentItem ) {
            for ( let index in this.legend ) {
                if ( this.legend[ index ].id === this.data.descriptor_id || this.legend[ index ].tertiary ) {
                    continue;
                }

                if ( this.legend[ index ].selected ) {
                    this.legend[ index ].selected = false;
                }
            }

            // If clicked the primary item, deselect others and clear.
            if ( currentItem.id === this.data.descriptor_id ) {
                this.secondary.data = [];
                d3.select( `#${ this.id } .gf-secondary` ).attr( 'd', null );
                return;
            }

            currentItem.selected = true;

            axios.get( 'api/v1/charts?descriptor_id=' + currentItem.id + '&object_id=' + this.data.object_id, {
                requestId: this.requestId,
                cancelToken: this.source.token
            } ).then( ( res ) => {
                this.secondary.data = [];
                this.secondary.type = res.data.type;
                this.secondary.unit = res.data.unit;
                this.secondary.color = currentItem.color;
                this.secondary.label = currentItem.label;
                this.secondary.domains = {
                    x: [
                        this.getDate( res.data.domains.x[ 0 ] ),
                        this.getDate( res.data.domains.x[ 1 ] ),
                    ],
                    y: [
                        parseFloat( res.data.domains.y[ 0 ] ),
                        parseFloat( res.data.domains.y[ 1 ] ),
                    ],
                };
                this.secondary.scaleY.domain( this.secondary.domains.y );

                for ( let item in res.data.data ) {
                    this.secondary.data.push( this.getDataValue( item, res.data.data[ item ], this.secondary.type ) );
                }

                this.renderSecondaryAxes();
                this.renderSecondaryLine();
            } ).catch( ( thrown ) => {
                if ( !axios.isCancel( thrown ) ) {
                    console.log( 'some other reason' );
                    console.log( thrown );
                }
            } )
        },
        loadEvents( currentItem ) {
            if ( currentItem.selected ) {
                currentItem.selected = false;
                this.tertiary.data = [];
            } else {
                currentItem.selected = true;
                axios.get( 'api/v1/events?object_id=' + this.data.object_id, {
                    requestId: this.requestId,
                    cancelToken: this.source.token
                } ).then( ( res ) => {
                    this.tertiary.data = [];
                    this.tertiary.color = currentItem.color;

                    for ( let item in res.data.data ) {
                        this.tertiary.data.push( {
                            x: this.getDate( item ),
                            y: 1,
                            data: res.data.data[ item ],
                        } );
                    }
                } ).catch( ( thrown ) => {
                    if ( !axios.isCancel( thrown ) ) {
                        console.log( 'some other reason' );
                        console.log( thrown );
                    }
                } );
            }
        },
        path( data, withGaps = false ) {
            var shape;
            if ( data.type === 'area' ) {
                shape = this.area( data.scaleY, withGaps );
            } else {
                shape = this.line( data.scaleY, withGaps );
            }

            return shape( data.data );
        },

        applyZoomLevel( event ) {
            var extent = event.selection

            // If no selection, back to initial coordinate. Otherwise, update X axis domain
            if ( !extent ) {
                if ( !this.zoomIdleTimeout )
                    return this.zoomIdleTimeout = setTimeout( this.idled, 350 ); // This allows to wait a little bit
                this.scaleX.domain( this.scaleXDomain );
            } else {
                this.scaleX.domain( [this.scaleX.invert( extent[ 0 ] ), this.scaleX.invert( extent[ 1 ] )] );
                d3.selectAll( `#${ this.id } .gf-brush` ).call( this.brush.move, null ); // This remove the grey brush area as soon as the selection has been done
            }

            // Update axis and circle position
            d3.select( `#${ this.id } .x-axis` ).transition().duration( 1000 ).call( d3.axisBottom( this.scaleX ) );
            d3.select( `#${ this.id } .gf-plots path` ).transition().duration( 1000 );
            this.$forceCompute('primaryPath');
            this.$forceCompute('primaryPathGaps');
            this.$forceCompute('secondaryPath');
            /**scatter
             .selectAll( "circle" )
             .transition().duration( 1000 )
             .attr( "cx", function ( d ) {
                    return x( d.Sepal_Length );
                } )
             .attr( "cy", function ( d ) {
                    return y( d.Petal_Length );
                } ); **/
        },

        idled() {
            this.zoomIdleTimeout = null;
        },
    },
    computed: {
        /**
         * Calculates the X scale range.
         * @returns {number[]}
         */
        rangeX() {
            return [0, this.width];
        },
        /**
         * Calculates the Y scale range.
         * @returns {number[]}
         */
        rangeY() {
            return [this.height, 0];
        },
        /**
         * Get the most suitable X domain range.
         * @return {number[]}
         */
        scaleXDomain() {
            var ret = [];

            if ( this.secondary.domains.x[ 0 ] && this.secondary.domains.x[ 0 ] < this.primary.domains.y[ 0 ] ) {
                ret[ 0 ] = this.secondary.domains.x[ 0 ];
            } else {
                ret[ 0 ] = this.primary.domains.x[ 0 ];
            }
            if ( this.secondary.domains.x[ 1 ] && this.secondary.domains.x[ 1 ] > this.primary.domains.y[ 1 ] ) {
                ret[ 1 ] = this.secondary.domains.x[ 1 ];
            } else {
                ret[ 1 ] = this.primary.domains.x[ 1 ];
            }
            return ret;
        },
        /**
         * Calculates SVG Path for primary data.
         * @returns {array}
         */
        primaryPath() {
            return this.path( this.primary );
        },
        primaryPathGaps() {
            return this.path( this.primary, true );
        },
        /**
         * Calculates SVG Path for secondary data.
         * @returns {array}
         */
        secondaryPath() {
            return this.path( this.secondary );
        }
    },
};
</script>

<style lang="scss">
.modal .modal-dialog {
    max-width: 100%;
}

.chart-container {
    position: relative;

    svg {
        font-family: Roboto, sans-serif;

        text {
            color: #999999;
            font-size: 10px;
            font-family: Roboto, sans-serif;
        }
    }

    .gf-axis {
        path {
            stroke: rgba(0, 0, 0, 0.0);
        }

        .tick {
            line {
                stroke: rgba(0, 0, 0, 0.1);
            }

            text {
                color: #999999;
                font-size: 10px;
                font-family: Roboto, sans-serif;
            }
        }
    }

    .gf-y-grid {
        line {
            stroke: rgba(0, 0, 0, 0.1);
            stroke-width: 1px;
        }

        path {
            stroke-opacity: 0;
        }
    }

    .gf-plots {

        .color-default {
            stroke: #4285F4;
        }

        .color-1 {
            stroke: #38C172;
            fill: rgba(56, 193, 114, 0.1);
        }

        .color-2 {
            stroke: #F6993F;
            fill: rgba(246, 153, 63, 0.1);
        }

        .color-3 {
            stroke: #9561E2;
            fill: rgba(149, 97, 226, 0.1);
        }

        .color-4 {
            stroke: #FFED4A;
            fill: rgba(255, 237, 74, 0.1);
        }

        .color-5 {
            stroke: #6C757D;
            fill: rgba(108, 117, 125, 0.1);
        }

        .color-6 {
            stroke: rgb(101, 116, 205);
            fill: rgba(101, 116, 205, 0.1);
        }

        .color-7 {
            stroke: rgb(246, 109, 155);
            fill: rgba(246, 109, 155, 0.1);
        }

        .gf-line, .gf-secondary {
            stroke-width: 2px;

            &:not(.no-fill) {
                fill: none;
            }
        }

        .gf-line-gaps, .gf-secondary-gaps {
            stroke-width: 2px;
        }

    }

    .gf-event-lines {
        fill: none;
        stroke-width: 2px;
        stroke: rgba(101, 116, 205, 0.5);
        stroke-linecap: round;
    }
}

.legend {
    @media only screen and (min-width: 600px) {
        columns: 2;
    }
}

.color-default {
    color: #4285F4;
}

.color-1 {
    color: #38C172;
}

.color-2 {
    color: #F6993F;
}

.color-3 {
    color: #9561E2;
}

.color-4 {
    color: #FFED4A;
}

.color-5 {
    color: #6C757D;
}

.color-6 {
    color: #6574CD;
}

.color-7 {
    color: rgb(246, 109, 155);
}

/**
 * Tooltip styling
 */
.gf-mouse-overlay {
    fill: none;
    pointer-events: all;
}

.gf-mouse-line {
    opacity: 0;
    fill: none;
    stroke: rgba(0, 0, 0, 0.2);
    stroke-width: 1px;
}

.gf-tooltip {
    position: absolute;
    font-size: 12px;
    padding: 3px 5px;
    opacity: 0;
    background-color: white;
    border: 1px solid #444444;
    border-radius: 4px;
    transition: opacity 0.3s, width 0.3s, height 0.3s;
}


</style>
