<template>
    <span>
        <button class="btn btn-outline-primary btn-sm mx-0" @click="show()">
            <font-awesome-icon :icon="['far', 'chart-line']"></font-awesome-icon>
            {{ data.label }}
        </button>

        <modal name="modal-pollen-contamination" classes="modal fade show" role="dialog" @opened="init" adaptive scrollable height="auto">
            <div class="modal-content mt-0">
                <div class="modal-header">
                    <h4 class="modal-title w-100">Pallynological and pesticides analyses of pollen samples</h4>
                    <button type="button" class="close" aria-label="Close" @click="hide()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="pollenContamination">
                    <div class="chart-container">
                        <svg :id="id" class="gf-linechart"
                             :viewBox="`0 0 ${pollenContamination.width + pollenContamination.margin.left + pollenContamination.margin.right} ${pollenContamination.height + pollenContamination.margin.top + pollenContamination.margin.bottom}`"
                             preserveAspectRatio="xMinYMin meet">
                            <g :transform="`translate(${pollenContamination.margin.left}, ${pollenContamination.margin.top})`">
                                <!-- Axes -->
                                <g class="x-axis" :transform="`translate(0, ${pollenContamination.height - pollenContamination.margin.top - pollenContamination.margin.bottom})`"
                                   vector-effect="non-scaling-stroke"></g>
                                <g class="y-axis" vector-effect="non-scaling-stroke"></g>

                                <!-- Line -->
                                <g class="gf-line"></g>

                                <!-- Grids -->
                                <g>
                                    <g class="gf-x-grid grid"
                                       :transform="`translate(0, ${pollenContamination.height - pollenContamination.margin.top - pollenContamination.margin.bottom})`"></g>
                                    <g class="gf-y-grid grid"></g>
                                </g>
                            </g>
                        </svg>
                    </div>

                    <div class="chart-container pie-chart">
                        <svg :id="id2" class="gf-piechart"
                             :viewBox="`${-pollenComposition.width / 2} ${-pollenComposition.height / 2} ${pollenComposition.width} ${pollenComposition.height}`"
                             preserveAspectRatio="xMinYMin meet">
                            <g>
                                <!-- Arcs -->
                                <g class="gf-data" stroke="white"></g>
                                <g class="gf-labels"></g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="modal-body" v-if="!pollenContamination">
                    Chart data could not be loaded duo to an error.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" @click="hide">Close</button>
                </div>
            </div>
        </modal>
    </span>
</template>

<script>
import * as d3 from "d3";
import axios from 'axios';

export default {
    name: "PollenContaminationComponent",
    props: {
        data: {
            type: Object,
            required: true
        },
    },
    data() {
        return {

            id: 'pollen-contamination-chart',
            id2: 'pollen-composition-chart',
            requestId: 'pollen-contamination-chart-component-request',

            descriptor: null,
            pollenContamination: {
                data: null,
                scales: {
                    x: null,
                    y: null
                },
                height: 200,
                width: 500,
                margin: { top: 20, right: 30, bottom: 20, left: 30 },
            },
            pollenComposition: {
                data: null,
                arcs: null,
                arc: null,
                arcLabel: null,
                scales: {
                    color: null,
                },
                height: 350,
                width: 350,
                margin: { top: 20, right: 30, bottom: 20, left: 30 },
            },
            bisectDate: null,
            legend: [],
        };
    },
    created() {
        this.CancelToken = axios.CancelToken;
        this.source = this.CancelToken.source();
    },
    mounted() {
        axios.get( 'api/v1/charts?descriptor_id=57&external_id=6649', {
            requestId: this.requestId,
            cancelToken: this.source.token
        } ).then( ( res ) => {
            this.pollenContamination.data = [];
            this.pollenComposition.data = [];
            this.descriptor = res.data.descriptor;
            for ( let item in res.data.data.pesticides ) {
                this.pollenContamination.data.push( {
                    label: res.data.data.pesticides[ item ].reference.name,
                    value: parseFloat( res.data.data.pesticides[ item ].value ),
                } );
            }
            for ( let item in res.data.data.composition ) {
                this.pollenComposition.data.push( {
                    label: res.data.data.composition[ item ].reference.name,
                    value: parseFloat( res.data.data.composition[ item ].fraction ),
                    amount: parseFloat( res.data.data.composition[ item ].amount ),
                } );
            }
        } ).catch( ( thrown ) => {
            if ( axios.isCancel( thrown ) ) {
                console.log( 'request 1 cancelled' );
            } else {
                console.log( 'some other reason' );
                console.log( thrown );
            }
        } )
    },
    beforeDestroy() {
        this.source.cancel();
    },
    methods: {
        show() {
            this.$modal.show( 'modal-pollen-contamination', {
                title: this.data.label + ' - ' + this.descriptor.name,
            } );
        },
        hide() {
            this.$modal.hide( 'modal-pollen-contamination' );
        },
        setScales() {
            this.pollenContamination.scales.x = d3.scaleBand().range( [0, this.pollenContamination.width - this.pollenContamination.margin.left - this.pollenContamination.margin.right] )
                .domain( d3.range( this.pollenContamination.data.length ) ).padding( 0.2 );
            this.pollenContamination.scales.y = d3.scaleLinear().range( [this.pollenContamination.height - this.pollenContamination.margin.top - this.pollenContamination.margin.bottom, 0] )
                .domain( [0, d3.max( this.pollenContamination.data.map( d => d.value ) )] ).nice();
                        console.log(d3.quantize( t => d3.interpolateSpectral( t * 0.8 + 0.1 ), this.pollenComposition.data.length ).reverse());
            this.pollenComposition.scales.color = d3.scaleOrdinal()
                .domain( this.pollenComposition.data.map( d => d.label ) )
                .range( d3.quantize( t => d3.interpolateSpectral( t * 0.8 + 0.1 ), this.pollenComposition.data.length ).reverse() )

            this.pollenComposition.arc = d3.arc()
                .innerRadius(0)
                .outerRadius(Math.min(this.pollenComposition.width, this.pollenComposition.height) / 2 - 1);

            const radius = Math.min(this.pollenComposition.width, this.pollenComposition.height) / 2 * 0.8;
            this.pollenComposition.arcLabel = d3.arc().innerRadius(radius).outerRadius(radius);

        },
        renderAxes() {
            d3.select( `#${ this.id } .x-axis` )
                .call( d3.axisBottom( this.pollenContamination.scales.x ).tickFormat( i => this.pollenContamination.data[ i ].label ) )
                .selectAll( ".tick line" )
                .attr( "stroke", "#000000" )
                .attr( "stroke-opacity", "0.1" );
            d3.select( `#${ this.id } .y-axis` )
                .call( d3.axisLeft( this.pollenContamination.scales.y ) )
                .selectAll( ".tick line" )
                .attr( "stroke", "#000000" )
                .attr( "stroke-opacity", "0.1" );


        },
        renderBars() {
            var _this = this;
            d3.select( `#${ this.id } .gf-line` )
                .selectAll( "rect" )
                .data( this.pollenContamination.data )
                .join( "rect" )
                .attr( "x", function ( d, i ) {
                    return _this.pollenContamination.scales.x( i );
                } )
                .attr( "y", function ( d ) {
                    return _this.pollenContamination.scales.y( d.value );
                } )
                .attr( "width", this.pollenContamination.scales.x.bandwidth() )
                .attr( "height", function ( d ) {
                    return _this.pollenContamination.scales.y( 0 ) - _this.pollenContamination.scales.y( d.value );
                } )
                .attr( "fill", "#4285F4" )
        },

        renderPie() {
            var pie = d3.pie()
                .value(d => d.value);
            var arcs = pie(this.pollenComposition.data)
            d3.select( `#${ this.id2 } .gf-data` )
                .selectAll( "path" )
                .data( arcs )
                .join( "path" )
                    .attr( "fill", d => this.pollenComposition.scales.color( d.data.label ) )
                    .attr( "d", this.pollenComposition.arc )
                .append( "title" )
                    .text( d => `${ d.data.label }: ${ d.data.amount.toLocaleString() }` );


            d3.select( `#${ this.id2 } .gf-labels` )
                    .attr( "font-family", "Roboto, sans-serif" )
                    .attr( "font-size", "12px" )
                    .attr( "text-anchor", "middle" )
                .selectAll( "text" )
                .data( arcs )
                .join( "text" )
                    .attr( "transform", d => `translate(${ this.pollenComposition.arcLabel.centroid( d ) })` )
                    .call( text => text.append( "tspan" )
                        .attr( "y", "-0.4em" )
                        .attr( "font-weight", "bold" )
                        .text( d => d.data.label ) )
                    .call( text => text.append( "tspan" )
                        .attr( "x", 0 )
                        .attr( "y", "0.7em" )
                        .attr( "fill-opacity", 0.7 )
                        .text( d => d.data.amount.toLocaleString() + " (" + d.data.value.toLocaleString() + "%)" ) );

        },

        renderYGrid() {
            const yGrid = d3.axisLeft( this.pollenContamination.scales.y )
                .ticks( 5 )
                .tickSize( -this.pollenContamination.width )
                .tickFormat( "" );
            d3.select( ".gf-y-grid" )
                .call( yGrid )
                .selectAll( "line" )
                .attr( "stroke", "#000000" )
                .attr( "stroke-opacity", "0.1" )
                .attr( "stroke-width", "1px" );
            // Hide border paths
            d3.select( ".gf-y-grid path" ).attr( "stroke-opacity", "0" );
            d3.select( ".gf-x-grid path" ).attr( "stroke-opacity", "0" );
        },

        init() {
            this.setScales();
            this.renderAxes();
            this.renderYGrid();
            this.renderBars();
            this.renderPie();
            // this.initToolTip();
            // this.renderArea();
        },
    },
    computed: {}
};
</script>

<style lang="scss" scoped>


.modal .modal-dialog {
    max-width: 100%;
}

// Line
.gf-line {
    stroke: #4285F4;
    stroke-width: 2px;
    fill: none;
}


.grid line {
    stroke: blue;
    stroke-opacity: 1;
}

.grid path {
    stroke-width: 1;
}

.gf-area {
    fill: lightsteelblue;
}

.tooltip {
    fill: white;
    stroke: #444444;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.y-axis text, .x-axis text {
    font-size: 8px;
}

.pie-chart{
    max-width: 350px;
}

.legend {
    .color-default {
        color: #4285F4;
    }

    .color-1 {
        color: #38C172;
    }

    .color-2 {
        color: #F6993F;
    }

    .color-3 {
        color: #9561E2;
    }
}
</style>
