:root {
    --primary: rgb(18, 59, 91);
    --primary-dark: rgb(8, 31, 47);
    --primary-70: rgb(21, 85, 133);
    --primary-50: rgb(118, 184, 237);
    --primary-30: rgb(157, 199, 237);
    --primary-10: rgb(196, 216, 237);
    --logo: #FFFFFF;
    --sidebar-icon: #F8CC1D;
}

.bg-grad-sidebar {
    background-color: #143B5B;
}
