/* =======================================
   Frontpage specific styling
   ======================================= */

.frontpage{
    .news-component{
        position: absolute;
        z-index: 1000;
        top: 60px;
        left: 60px;
        bottom: 60px;

        width: 30vw;
    }
}

