$scales: (
    'danger':((
        0: #777777,
        1: #008000, 2: #398800, 3: #719000,
        4: #aa9900, 5: #e3a100, 6: #ff9300,
        7: #ff6e00, 8: #ff4900, 9: #ff0000
    )),
    // https://colorbrewer2.org/#type=sequential&scheme=PuBu&n=9
    'range':((
        0: #777777,
        1: #506d8f, 2: #858ac4, 3: #858ac4,
        4: #a996db, 5: #d2a1ed, 6: #fdabfa,
        7: #ff97dc, 8: #fe84bc, 9: #f8739c
    )),
    'range_zeroed':((
        0: #777777,
        1: #506d8f, 2: #858ac4, 3: #858ac4,
        4: #a996db, 5: #d2a1ed, 6: #fdabfa,
        7: #ff97dc, 8: #fe84bc, 9: #f8739c
    )),
    // https://colorbrewer2.org/#type=diverging&scheme=RdBu&n=9
    'range_diverging':((
        0: #777777,
        1: #b2182b, 2: #d6604d, 3: #f4a582,
        4: #fddbc7, 5: #f7f7f7, 6: #d1e5f0,
        7: #92c5de, 8: #4393c3, 9: #2166ac
    )),
);

#map {
    position: relative;
    height: calc(100vh - 75px);
    min-height: 600px;
    margin-left: -15px;
    margin-right: -15px;

    .leaflet-popup-content {
        margin: 0;
    }

    .datatype {
        background: white;
        border: 1px solid gray;
        border-radius: 10px;
        height: 20px;
        width: 20px;

        .inner {
            width: 14px;
            height: 14px;
            border-radius: 7px;
            margin: 2px;
            background-color: orange;
        }

        &.datatype-invalid .inner {
            background-color: #777777;
        }

        @each $name, $colors in $scales {
            &.datatype-#{$name} {
                @each $index, $color in $colors {
                    &.datatype-#{$index} .inner {
                        background-color: $color;
                    }
                }
            }
        }
    }

    .scale-wrapper {
        background-color: #FFFFFF;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
        border-radius: 4px;
        padding: 4px;
        width: 200px;


        .color {
            display: block;
            height: 20px;
            flex-grow: 1;

            border-top: 1px solid #BBB;
            border-bottom: 1px solid #BBB;
        }

        .color-0 {
            margin-right: 10px;
            border-left: 1px solid #BBB;
            border-right: 1px solid #BBB;
        }

        .color-1 {
            border-left: 1px solid #BBB;
        }

        .color:last-child {
            border-right: 1px solid #BBB;
        }

        .scale {
            display: flex;
            align-items: stretch;
            @each $name, $colors in $scales {
                &.scale-#{$name} {
                    @each $index, $color in $colors {
                        .color-#{$index} {
                            background-color: $color;
                        }
                    }
                }
            }
        }
    }
}

// Simple fix to display map nicely while debugging.
.debugbar .frontpage #map {
    height: calc(100vh - 110px);
}

.vld-overlay {
    z-index: 1000;
}

#slide-out {
    overflow: visible !important;

    .btn-close {
        position: absolute;
        top: 0;
        right: 1rem;
    }

    a {
        height: auto;
        padding-left: 0;
        line-height: inherit;
    }

    figcaption {
        line-height: 1.25;
    }

    .vm--overlay {
        width: 100000vh;
    }

    .vm--modal {
        display: block !important;
        position: fixed !important;
    }
}

.card.card-popup {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.4;

    hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .card-text {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        // color: $darker;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        //color: $darker;
        text-decoration: underline;
        transition: all 0.2s ease-in-out;
    }

    a.disabled:hover,
    a:disabled:hover {
        //  color: $darker;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    small {
        h1 {
            font-size: 1.5rem;
            line-height: 1.2;
            margin-bottom: 0.5rem;
        }

        h2 {
            font-size: 1.3rem;
            line-height: 1.2;
            margin-bottom: 0.5rem;
        }

        h3 {
            font-size: 1.15rem;
            line-height: 1.1;
            margin-bottom: 0.4rem;
        }

        h4 {
            font-size: 1.0rem;
            line-height: 1.1;
            margin-bottom: 0.3rem;
        }

        h5 {
            font-size: 0.9rem;
            line-height: 1.1;
            margin-bottom: 0.25rem;
        }

        h6 {
            font-size: 0.8rem;
            line-height: 1.1;
            margin-bottom: 0.20rem;
        }
    }

    .popup-connectors {
        display: flex;
        justify-content: center;

        & > * {
            padding-right: 10px;
            max-width: 45%;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .popup-owners {
        display: flex;
        justify-content: center;

        & > * {
            max-width: 30%;
            padding-right: 10px;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

// Hide overlay, but we need to check if the sidebar is actually open, see Map Component
#sidenav-overlay {
    display: none !important;
}

.sidenav-connectors {
    display: flex;
    justify-content: center;

    & > * {
        max-width: 50%;
    }
}

.sidenav-owners {
    display: flex;
    justify-content: center;

    & > * {
        max-width: 33.333%;
    }
}

.labeled-value.columns {
    width: 49%;
    display: inline-block;
}
