.post-content{
    img{
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    img + figcaption{
        padding: 15px 0;
        text-align: center;
        font-style: italic;
    }
}

.image-news{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 56.25%;
}
