.p-6 {
    padding: 6rem !important;
}

.pl-6 {
    padding-left: 6rem !important;
}

.pr-6 {
    padding-right: 6rem !important;
}

.pb-6 {
    padding-bottom: 6rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}


.w-icon {
    width: 80px;
}

.comma:not(:last-child):after {
    content: ', ';
    display: inline-block;
}


.hexagon-background {
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 160px;
}

.hexagon-horizontal-background {
    background-repeat: no-repeat;
    background-position: right 25px center;
    background-size: 320px;
}

figure.image {
    border: 1px solid gray;
    margin: 5px 0 15px 0;
    background: #f5f2f0;
}

figure.align-left {
    float: left;
}

figure.align-right {
    float: right;
}

figure.image img {
    margin: 8px auto 0 auto !important;
}

figure.image figcaption {
    text-align: center;
    box-sizing: border-box;
    width: 0px;
    min-width: 100%;
}

span.asp {
    unicode-bidi: bidi-override;
    direction: rtl;
}
