<template>
    <div class="flex justify-center items-centers the-bee-hub-help-card">
        <div class="max-w-xl">
            <div class="flex flex-col items-center justify-center">
                <div class="">
                    <h1 class="text-3xl  pb-2">The Bee Hub</h1>
                    <p>Welcome to the Bee Hub Administrator interface. This administration interface allows you to manage the contents of The Bee Hub.</p>
                    <p>Not everything is editable, like the data itself and not everything can be created or deleted like projects. Here is a glossary of available items with development
                        comments.</p>
                </div>
            </div>

            <card class="flex flex-col items-center justify-center mt-3">
                <div class="px-3 py-3">
                    <table cellpadding="0" cellspacing="0" class="w-full">
                        <tr>
                            <td class="align-top w-1/2 border-r border-b border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Project</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                            Project represent a single source of data. There are several types of data sources:
                                        </p>
                                        <ul>
                                            <li>static, (like published results of a reasearch) which usually exists only within a limited timeframe is inserted into BeeHub only once</li>
                                            <li>live, which is gathered via an API and The Bee Hub receives new data over time</li>
                                        </ul>
                                        <p><b>Warning:</b> They can not be created or deleted within administration, as they are tightly tied to Data and are created when we integrate new data.</p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-top w-1/2 border-b border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Data Providers</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                            Data provider (or just providers) are either the actual owners of the data or its providers. There can be several data providers per single data point and each provider
                                            can be the owner of several different projects, offering the data.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top w-1/2 border-r border-b border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Data Types</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                            Data Types are the Meta of the data. It describes the kind of data we are dealing with.
                                        </p>
                                        <p><b>Warning:</b> They can not be created or deleted by Administrators, because they are added when we encounter new data, as part of data
                                            integration.</p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-top w-1/2 border-b border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Logs</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                            A Log is a collection of data points at single point of time and location. For example, it is a collection of sensor data on a specific day and
                                            time at a specific Hive.
                                            Logs have a at least 3 data points:
                                        </p>
                                        <ul>
                                            <li>Location - should always contain any level of Nuts region and optionally GPS coordinates</li>
                                            <li>Date - can either only be a year, specific date and it can include time as well</li>
                                            <li>A single additional value, like infestation rate or mortality</li>
                                        </ul>
                                        <p>Depending on the source, the amount of additional data varies based on availability.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top w-1/2 border-r border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Pages & News</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                            Both Pages and News offer to produce content on the website. By defining slugs you are setting the URL to individual page or news. Once created,
                                            both can be linked to under Menus.
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="align-top w-1/2 border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Menus</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                            Any and all Menus are edited here. Currently we are only supporting one Menu, that is the one we see at the top of the page. On request a
                                            developer can implement other menu locations to be included in the Website.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top w-1/2 border-r border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Metadata</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                           As the amount of data grows in the platform, the amount of metadata grows as well. The metadata represents anything that is not data, for example:
                                        </p>
                                        <ul>
                                            <li>Location information, like name, gps locations, outlines of countries and regions.</li>
                                            <li>Origin information, how the datapoint was aquired or calculated.</li>
                                            <li>Libraries, like species, pesticides or as simple as currencies.</li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                            <td class="align-top w-1/2 border-50">
                                <div class="p-6">
                                    <h3 class="mb-3 text-90 uppercase tracking-wide font-bold text-sm">Administration tools</h3>
                                    <div class="text-90 leading-normal">
                                        <p>
                                           Menu options like Queues, Log viewer and Command Runner are assistive tools for the administrators.
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </card>
        </div>
    </div>
</template>

<script>
    export default {
        props: [
            'card',

            // The following props are only available on resource detail cards...
            // 'resource',
            // 'resourceId',
            // 'resourceName',
        ],

        mounted() {
            //
        },
    }
</script>

<style lang="scss">
    .the-bee-hub-help-card {
        p {
            line-height: 1.5;
            margin-bottom: 0.5rem;
        }
    }
</style>
