<template>
    <div class="content-wrapper">
        <template v-for="row in content">
            <h5 v-if="row.type === 'section'">{{ row.heading }}</h5>

            <p v-if="row.type === 'paragraph'">{{ row.value }}</p>

            <p v-if="row.type === 'labeled-value'" class="labeled-value" :class="{ inline: row.inline, columns: row.icon }">
                <span class="label">
                    <font-awesome-icon v-if="row.icon" :icon="row.icon" :title="row.label" size="2x" fixed-width></font-awesome-icon>
                    <template v-else>{{ row.label }}:</template>
                </span>
                <span class="value">{{ row.value }}</span>
                <br v-if="'chart' in row">
                <component v-if="'chart' in row" :is="row.chart.component" :data="row.chart" :key="row.chart.object_id"></component>
            </p>

            <div v-if="row.type === 'html'" v-html="row.value"></div>

            <hr v-if="row.type === 'divider'">
            <br v-if="row.type === 'br'">
        </template>
    </div>
</template>

<script>
export default {
    /**
     * Component used to generate sidebar content from JSON data provided by the application.
     * @todo: Add escaping function to attributes and HTML.
     */

    // Loaded data, passed into the component
    props: {
        content: Array,
    },

    data() {
        return {}
    },
    mounted() {

    },
    computed: {}
}
</script>
