<template>
    <l-control position="bottomleft" v-if="Object.keys(filters).length > 0">
        <div class="scale-wrapper py-1">
            <template v-for="filter in filters">
                <div v-if="filter.type === 'range-field' && ( ( isObject(filter.data) && Object.keys(filter.data).length > 0 ) || filter.data.length > 1)"
                     class="my-1 white">
                    <label v-if="filter.name" class="mb-0 text-center d-block">{{ filter.name }} ({{ getCurrentLabel( filter ) }})</label>
                    <div class="d-flex justify-content-center">
                        <span class="font-weight-bold blue-text mr-2 mt-1">{{ getLabel( filter.start ) }}</span>
                        <form class="range-field w-50">
                            <input class="border-0" type="range" @change="loadYear()" v-model="filter.current" min="0" :max="filter.data.length - 1" />
                        </form>
                        <span class="font-weight-bold blue-text ml-2 mt-1">{{ getLabel( filter.end ) }}</span>
                    </div>
                </div>
            </template>
        </div>
    </l-control>
</template>

<script>
import { LControl } from 'vue2-leaflet';

export default {
    // Load third party components into this component
    components: {
        LControl,
    },
    // Loaded data, passed into the component
    props: {
        filters: Object,
    },

    data() {
        return {}
    },
    mounted() {

    },
    computed: {},
    methods: {
        loadYear() {
            var queryParams = {};

            for ( var filter in this.filters ) {
                queryParams[ filter ] = this.filters[ filter ].current;
            }
            this.$emit( 'filtersUpdated', queryParams );
        },
        isObject( data ) {
            return !Array.isArray( data ) && typeof data === 'object' && data !== null;
        },
        getValue( data ) {
            if ( this.isObject( data ) ) {
                return data.value;
            } else {
                return data;
            }
        },
        getLabel( data ) {
            if ( this.isObject( data ) ) {
                return data.label;
            } else {
                return data;
            }
        },
        getCurrentLabel( filter ) {
            return this.isObject( filter.data[ filter.current ] ) ? filter.data[ filter.current ].label :  filter.data[ filter.current ];
        }

    }
}
</script>
