<template>
    <div class="row" ref="mapComponentContainer">
        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <l-map id="map" ref="map" :zoom="mapOptions.zoom" :center="mapOptions.center">
                <!--<l-control-layers></l-control-layers>-->
                <scale-control-component :scale="scale" :min="scaleMin" :middle="scaleMiddle" :max="scaleMax" :title="scaleTitle"></scale-control-component>
                <filter-control-component :filters="filters" @filtersUpdated="updateCurrentFilters"></filter-control-component>

                <l-tile-layer v-for="tileLayer in mapOptions.tileLayers"
                              :key="tileLayer.name"
                              :name="tileLayer.name"
                              :url="tileLayer.url"
                              :visible="tileLayer.visible"
                              :options="{}"
                              :attribution="attributions"
                              :layer-type="tileLayer.layerType">
                </l-tile-layer>

                <l-marker v-for="marker in displayed_markers"
                          :key="marker.id"
                          :lat-lng="marker.position"
                          :attribution="marker.attribution"
                          @click="!marker.popup && displayMarkerData(marker)">
                    <l-popup v-if="marker.popup" :options="popupOptions">
                        <div v-html="marker.popup"></div>
                    </l-popup>
                    <l-tooltip>{{ marker.tooltip }}</l-tooltip>

                    <l-icon :icon-size="[20, 20]"
                            :icon-anchor="[10, 10]"
                            :popup-anchor="[0, 0]"
                            :class-name="marker.icon">
                        <div class="inner"></div>
                    </l-icon>
                </l-marker>

                <l-polygon v-for="polygon in displayed_polygons" :key="polygon.id" :lat-lngs="polygon.area" :color="getBorderColor(polygon.color)"
                           :fillColor="getBackgroundColor(polygon.color)" :attribution="polygon.attribution" @click="!polygon.popup && displayMarkerData(polygon)">
                    <l-popup v-if="polygon.popup" :options="popupOptions">
                        <div v-html="polygon.popup"></div>
                    </l-popup>
                    <l-tooltip>{{ polygon.tooltip }}</l-tooltip>
                </l-polygon>


            </l-map>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xl-2 navigation">
            <div class="mr-4 my-4">
                <h3>Available Datasets</h3>
                <ul class="list-unstyled" v-for="(descriptors, index) in data" :key="index">
                    <li>
                        <h4>{{ descriptors.name }}</h4>

                        <ul class="list-unstyled">
                            <li v-for="(descriptor, index) in descriptors.descriptors" :key="descriptor.id">
                                <button type="button" class="btn btn-lg btn-link p-0 text-left" @click="loadDatatype(descriptor)">
                                    {{ descriptor.name }}
                                    <font-awesome-icon v-if="queryParams.descriptor != null && queryParams.descriptor.includes(descriptor.slug)"
                                                       :icon="['far', 'arrow-alt-circle-left']"></font-awesome-icon>
                                </button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <sidebar-component :datatype="currentDescriptor" :content="currentContent" :projects="currentProjects" :graphs="currentGraphs" :providers="currentProviders"></sidebar-component>
    </div>

</template>

<script>
import { LControl, LControlLayers, LIcon, LMap, LMarker, LPolygon, LPopup, LTileLayer, LTooltip } from 'vue2-leaflet';
import Loading from 'vue-loading-overlay';
import axios from 'axios';
import ScaleControlComponent from "./ScaleControlComponent";
import SidebarComponent from "./SidebarComponent";
import FilterControlComponent from "./FilterControlComponent";

Vue.use( Loading );

export default {
    // Load third party components into this component
    components: {
        SidebarComponent,
        ScaleControlComponent,
        FilterControlComponent,
        LMap,
        LTileLayer,
        LMarker,
        LControlLayers,
        LPopup,
        LIcon,
        LTooltip,
        LControl,
        LPolygon,
    },
    // Loaded data, passed into the component
    props: {
        'data': Array
    },
    // Variables used by this component
    data() {
        return {
            mapOptions: {
                center: [53.5775, 23.106111], // @See https://tinyurl.com/sm3h6t5
                zoom: 4,

                tileLayers: [
                    {
                        name: 'Map',
                        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>',
                        visible: true,
                        layerType: 'base',
                    },
                ],
            },
            popupOptions: {
                maxWidth: 560
            },
            selected_data: null,
            currentDescriptor: null,
            currentContent: null,
            currentProjects: null,
            currentProviders: null,
            currentGraphs: [],
            displayed_markers: [],
            displayed_polygons: [],
            queryParams: {},
            scale: 'none',
            scaleMin: null,
            scaleMax: null,
            scaleMiddle: null,
            scaleTitle: null,
            date_slider: {
                start: null,
                end: null,
                current: null,
            },
            displayD3: true,
            filters: {},
        };
    },

    // Computed variables used by this component
    computed: {
        attributions: function () {
            var attributions = ['&copy; <a href="https://openstreetmap.org/copyright" target="_blank">OpenStreetMap contributors</a>'];
            return attributions.join( '|' );
        },
    },

    // Initializations
    mounted() {
        if ( this.data.length > 0 && this.data[ 0 ].descriptors.length > 0 ) {
            this.loadDatatype( this.data[ 0 ].descriptors[ 0 ] );
        }
    },

    // Methods used by this component
    methods: {
        displayMarkerData( marker ) {
            if ( typeof marker.content !== "undefined" ) {
                this.currentContent = marker.content;
            } else {
                this.currentContent = null;
            }
            if ( typeof marker.providers !== "undefined" ) {
                this.currentProjects = marker.projects;
            } else {
                this.currentProjects = null;
            }
            if ( typeof marker.providers !== "undefined" ) {
                this.currentProviders = marker.providers;
            } else {
                this.currentProviders = null;
            }
            if ( typeof marker.historic !== "undefined" ) {
                this.currentGraphs = marker.historic;
            } else {
                this.currentGraphs = [];
            }

            // Make sure its not open already
            if ( $( '#sidenav-overlay' ).length === 0 ) {
                $( ".button-collapse-sidebar" ).click();
            }
        },

        loadData() {
            // Close side navigation
            if ( $( '#sidenav-overlay' ).length > 0 ) {
                $( ".button-collapse-sidebar" ).click();
            }

            let loader = this.$loading.show( {
                // Optional parameters
                container: this.$refs.mapComponentContainer,
            } );

            axios.get( 'api/v1/data', { params: this.queryParams } )
                .then( ( { data } ) => {
                    this.displayed_markers = [];
                    this.displayed_polygons = [];
                    for ( var datapoint in data.data ) {
                        var data_item = data.data[ datapoint ];
                        if ( data.data[ datapoint ].area != null ) {
                            this.displayed_polygons.push( data_item );
                        } else {
                            this.displayed_markers.push( data_item );
                        }
                    }
                    if ( Object.keys( data.filters ).length > 0 ) {
                        this.filters = data.filters;
                    } else {
                        this.filters = {};
                    }


                    this.scale = data.scale;
                    this.scaleMin = data.legend.min;
                    this.scaleMiddle = data.legend.middle;
                    this.scaleMax = data.legend.max;
                    this.scaleTitle = data.legend.title;
                } ).catch( ( error ) => {
                console.log( error );
            } ).finally( () => {
                loader.hide();
            } );
        },
        loadDatatype( descriptor ) {
            this.currentDescriptor = descriptor;
            this.queryParams = { descriptor: descriptor.uid };
            this.loadData();
        },

        updateCurrentFilters( currentFilters ) {
            for ( var filter in currentFilters ) {
                this.queryParams[ filter ] = currentFilters[ filter ];
            }
            this.loadData();
        },


        getBorderColor( $index ) {
            var colors;
            if ( this.scale === 'danger' ) {
                colors = {
                    0: '#777777',
                    1: '#008000',
                    2: '#398800',
                    3: '#719000',
                    4: '#AA9900',
                    5: '#E3A100',
                    6: '#FF9300',
                    7: '#FF6E00',
                    8: '#FF4900',
                    // 8: '#FF2500',
                    9: '#FF0000',
                };
            } else if ( this.scale === 'range' || this.scale === 'range_zeroed' ) {
                colors = {
                    0: 'rgb(80,109,143)',
                    1: 'rgb(133,138,196)',
                    2: 'rgb(133,138,196)',
                    3: 'rgb(169,150,219)',
                    4: 'rgb(210,161,237)',
                    5: 'rgb(253,171,250)',
                    6: 'rgb(255,151,220)',
                    7: 'rgb(254,132,188)',
                    8: 'rgb(248,115,156)',
                    9: 'rgb(237,102,123)',
                };
            }
            return colors[ $index ];
        },
        getBackgroundColor( $index ) {
            var colors;
            if ( this.scale === 'danger' ) {
                colors = {
                    0: 'rgba(119,119,119, 1)',
                    1: 'rgba(0,128,0, 1)',
                    2: 'rgba(57,136,0, 1)',
                    3: 'rgba(113,144,0, 1)',
                    4: 'rgba(170,153,0, 1)',
                    5: 'rgba(227,161,0, 1)',
                    6: 'rgba(255,147,0, 1)',
                    7: 'rgba(255,110,0, 1)',
                    8: 'rgba(255,73,0, 1)',
                    //8: 'rgba(255,37,0, 1)',
                    9: 'rgba(255,0,0, 1)',
                };
            } else if ( this.scale === 'range' || this.scale === 'range_zeroed' ) {
                colors = {
                    0: 'rgba(119,119,119, 1)',
                    1: 'rgba(133,138,196, 1)',
                    2: 'rgba(133,138,196, 1)',
                    3: 'rgba(169,150,219, 1)',
                    4: 'rgba(210,161,237, 1)',
                    5: 'rgba(253,171,250, 1)',
                    6: 'rgba(255,151,220, 1)',
                    7: 'rgba(254,132,188, 1)',
                    8: 'rgba(248,115,156, 1)',
                    9: 'rgba(237,102,123, 1)',
                };
            }
            return colors[ $index ];
        },
    },

}
</script>
