<template>
    <div class="card news-component">
        <div class="card-header">Bee Hub News</div>

        <div class="card-body">
            I'm an example component.
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {

        }
    }
</script>
