<template>
    <l-control position="bottomright" v-if="scale == null || scale !== 'none'">
        <div class="scale-wrapper">
            <h5 class="text-center"><small v-if="!title">Legend</small><small v-if="title">{{ title }}</small></h5>
            <div :class="'scale-' + scale" class="scale">
                <div v-for="color in colors[scale]" class="color" :class="'color-' + color"></div>
            </div>
            <div class="float-left mr-3" title="No information available">
                <small>{{ legendNa }}</small>
            </div>
            <div class="d-flex justify-content-between">
                <div class="text-left">
                    <small>{{ legendMin }}</small>
                </div>
                <div class="text-center" v-if="legendMiddle">
                    <small>{{ legendMiddle }}</small>
                </div>
                <div class="text-right">
                    <small>{{ legendMax }}</small>
                </div>
            </div>
        </div>
    </l-control>
</template>

<script>
    import { LControl } from 'vue2-leaflet';

    export default {
        // Load third party components into this component
        components: {
            LControl,
        },
        // Loaded data, passed into the component
        props: {
            scale: String,
            default: 'none',
            min: null,
            max: null,
            na: null,
            middle: null,
            title: null,
        },

        data() {
            return {
                colors: {
                    danger: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                    range_zeroed: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                    range_diverging: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
                },
                defaultValues: {
                    // min: this.__('map.low'),
                    // max: this.__('map.high'),
                    // na: this.__('map.na'),
                    min: 'Low',
                    max: 'High',
                    na: 'N/A',
                },
            }
        },
        mounted() {

        },
        computed: {
            legendNa: function(){
                return this.na != null ? this.na : this.defaultValues.na;
            },
            legendMin: function(){
                return this.min != null ? this.min : this.defaultValues.min;
            },
            legendMiddle: function(){
                return this.middle != null ? this.middle : null;
            },
            legendMax: function(){
                return this.max != null ? this.max : this.defaultValues.max;
            },
        }
    }
</script>
