<template>
    <div>
        <!-- SideNav slide-out button -->
        <a href="#" data-activates="slide-out" class="btn btn-primary p-3 button-collapse-sidebar d-none">
            <font-awesome-icon :icon="['far', 'times']"></font-awesome-icon>
        </a>
        <div id="slide-out" class="side-nav side-nav-light white">
            <ul class="custom-scrollbar text-body" v-if="datatype">
                <li class="position-relative">
                    <h3 class="m-3">{{ datatype.name }}</h3>

                    <button type="button" class="btn btn-outline-primary btn-sm m-0 btn-close px-3" @click="closeSideNav">
                        <font-awesome-icon :icon="['far', 'times']"></font-awesome-icon>
                    </button>
                </li>
                <li class="px-4 py-2">
                    <small v-html="datatype.description"></small>
                </li>
                <li v-if="content" class="px-4 py-2"><content-component :content="JSON.parse(content)"></content-component></li>

                <li v-if="projects" class="border-top">
                    <h4 class="px-3 py-2">Participating projects</h4>
                    <div v-html="projects" class="px-4 sidenav-connectors"></div>
                </li>
                <li v-if="providers" class="border-top">
                    <h4 class="px-3 py-2">Data providers</h4>
                    <div v-html="providers" class="px-4 sidenav-owners"></div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import ContentComponent from "./ContentComponent";
    export default {
        components: { ContentComponent },
        props: {
            datatype: {
                type: Object,
                default: null,
            },
            content: {
                type: String,
                default: null,
            },
            graphs: {
                type: Array,
                default: () => [],
            },
            projects: {
                type: String,
            },
            providers: {
                type: String,
            },
        },

        data() {
            return {
                sidebar: null,
            };
        },

        mounted() {
            $( document ).ready( function () {
                // SideNav Button Initialization
                this.sidebar = $( ".button-collapse-sidebar" );
                this.sidebar.sideNav( {
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: false, // Closes side-nav on &lt;a&gt; clicks, useful for Angular/Meteor
                    breakpoint: 1440, // Breakpoint for button collapse
                    menuWidth: 350, // Width for sidenav
                    timeDurationOpen: 300, // Time duration open menu
                    timeDurationClose: 200, // Time duration open menu
                    timeDurationOverlayOpen: 50, // Time duration open overlay
                    timeDurationOverlayClose: 200, // Time duration close overlay
                    easingOpen: 'easeOutQuad', // Open animation
                    easingClose: 'easeOutCubic', // Close animation
                    showOverlay: true, // Display overlay
                    showCloseButton: false // Append close button into sidenav, we use our own
                } );
                // SideNav Scrollbar Initialization
                var sideNavScrollbar = document.querySelector( '.custom-scrollbar' );
                var ps = new PerfectScrollbar( sideNavScrollbar );

            } );
        },
        watch: {

        },
        methods: {
            closeSideNav() {
                $( ".button-collapse-sidebar" ).click();
            },

            toggleCollapse(e) {
                var thisBody = $( e.target ).closest( 'li' ).find( '.collapsible-body' );
                $( e.target ).closest( 'ul' ).find( '.collapsible-body' ).not( thisBody ).slideUp();
                thisBody.slideToggle();
            }
        },

    }
</script>
